Babel==2.1.1
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2
Sphinx==1.3.1
alabaster==0.7.6
boto3==1.1.4
botocore==1.2.11
docutils==0.12
flake8==2.4.1
futures==3.0.3
jmespath==0.9.0
mccabe==0.3.1
pep8==1.5.7
pluggy==0.3.1
py==1.4.30
pyflakes==0.8.1
python-dateutil==2.4.2
pytz==2015.6
six==1.10.0
snowballstemmer==1.2.0
sphinx-rtd-theme==0.1.9
tox==2.1.1
virtualenv==13.1.2
